<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.gyl.bank.dao.MyOrderMapper" >

  <select id="lockTradeRecord" resultType="java.lang.Long" parameterType="java.lang.String">
    select 
    id
    from t_trade_record
    where order_no=#{0} for update
  </select>

  <select id="lockTransferRecord" resultType="java.lang.Long" parameterType="java.lang.String">
    select
    id
    from t_transfer_record
    where order_no=#{0} for update
  </select>

</mapper>